################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/PlatformService/obj
/PlatformService/bin/Debug/net6.0
