################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/*
/PlatformService/obj
/PlatformService/bin/Debug/net6.0
/CommandService/obj
/CommandService/.vs/CommandService/v17
/CommandService/bin/Debug/net6.0
/K8S/.vs
/PlatformService/.vs/PlatformService/v17
/PlatformService/.vs/PlatformService/project-colors.json
/PlatformService/.vs
